*.ntvs_analysis.dat
*.etl
*.vspx
*.tmp
*.js.map

NodejsWebApp1/obj/
NodejsWebApp1/node_modules/

NodejsWebApp1/server.js
NodejsWebApp1/Respond/HelloMessage.js
NodejsWebApp1/profile_demo.js
NodejsWebApp1/Profile_Demo/SpinFunc.js
*/testing/*.js
build/
